<%# Header/ Navbar %>
<div class="header">
  <div class="flex logoandlinks">
    <%# logo %>
    <div class="flex logo">
      <%= link_to image_tag('GBZlogowhiteBG.svg', size: "60x60"), "/" %>

    </div>
    <%# links %>
    <div>
      <%= link_to "Contact", contact_path%> 
    </div>
    <div>
      <%= link_to "About", about_path%>
    </div>
  </div>
  <%# login %>
  <div class="login flex">
    <% if current_user %>
      <p>Welcome back, <%= current_user.email %>!</p>
      <div>
        <%= link_to "My Account", users_show_path %> 
      </div>
      <%# data: { turbo: "false" } to force redirect, until its natively fixed %>
      <%= button_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
    <% else %>
      <div>
        <%= link_to "Sign In", new_user_session_path, method: :get %>
      </div> 
      <div> 
        <%= button_to "Sign Up", new_user_registration_path, method: :get %>  
      </div>  
    <% end %>
  </div>
</div>
