<div id="<%= dom_id garden %>">
  <p>
    <strong>Name:</strong>
    <%= garden.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= garden.description %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= garden.zip %>
  </p>

  <p>
    <strong>User:</strong>
    <%= garden.user_id %>
  </p>

</div>
